@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import 'tailwindcss';


@theme {
  --font-crimson: "Crimson Text", serif;
  --font-dmsans:"DM Sans", sans-serif;
  
  --color-background: #FFFFFF;
  --color-foreground: #000000;

  --color-primary: #485C11;             
  --color-primary-foreground: #FFFFFF;

  --color-secondary: #8E9C78;           
  --color-secondary-foreground: #FFFFFF;

  --color-accent: #DFECC6;              
  --color-accent-foreground: #485C11;

  --color-muted: #E9E9E9;               
  --color-muted-foreground: #929292;
}